.footer {
    background-color: rgb(99, 68, 209);
    padding: 100px 0;
    font-size: 38px;
    text-align: center;
    color: rgb(223, 20, 20);

    @media (max-width:1200px) {
        font-size: 32px;
    }
}